@charset "UTF-8";
body.state-primary-election .wpe-sidebar_name,
body.state-general-election .wpe-sidebar_name {
  line-height: 1.1;
}
body.state-primary-election .pb-container > .pb-layout-item,
body.state-general-election .pb-container > .pb-layout-item {
  float: none;
}
body.state-primary-election .label-gargantuan,
body.state-general-election .label-gargantuan {
  padding-top: 30px;
  border-top: 1px solid #ccc;
  max-width: 600px;
  margin: 0 auto;
}
body.state-primary-election .label-huge,
body.state-general-election .label-huge {
  font-size: 1.45em !important;
  line-height: 1.2 !important;
}
body.state-primary-election ul.smart-office-topper,
body.state-general-election ul.smart-office-topper {
  padding-bottom: 15px;
}
body.state-primary-election .blurb.like-article-body a,
body.state-general-election .blurb.like-article-body a {
  border-bottom: 1px solid #d5d5d5;
  color: #1955a5 !important;
  padding-bottom: 2px;
}
body.state-primary-election .wpe-map_toggle-desktop,
body.state-general-election .wpe-map_toggle-desktop {
  margin-bottom: 11px;
}
body.state-primary-election span.democrat,
body.state-primary-election span.no-party,
body.state-primary-election span.open,
body.state-primary-election span.republican,
body.state-general-election span.democrat,
body.state-general-election span.no-party,
body.state-general-election span.open,
body.state-general-election span.republican {
  font-family: "FranklinITCProBold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
body.state-primary-election span.democrat.democrat,
body.state-primary-election span.no-party.democrat,
body.state-primary-election span.open.democrat,
body.state-primary-election span.republican.democrat,
body.state-general-election span.democrat.democrat,
body.state-general-election span.no-party.democrat,
body.state-general-election span.open.democrat,
body.state-general-election span.republican.democrat {
  color: #3579a8;
}
body.state-primary-election span.democrat.republican,
body.state-primary-election span.no-party.republican,
body.state-primary-election span.open.republican,
body.state-primary-election span.republican.republican,
body.state-general-election span.democrat.republican,
body.state-general-election span.no-party.republican,
body.state-general-election span.open.republican,
body.state-general-election span.republican.republican {
  color: #dc5147;
}
body.state-primary-election span.democrat.open,
body.state-primary-election span.no-party.open,
body.state-primary-election span.open.open,
body.state-primary-election span.republican.open,
body.state-general-election span.democrat.open,
body.state-general-election span.no-party.open,
body.state-general-election span.open.open,
body.state-general-election span.republican.open {
  color: #999999;
}
body.state-primary-election span.democrat.no-party,
body.state-primary-election span.no-party.no-party,
body.state-primary-election span.open.no-party,
body.state-primary-election span.republican.no-party,
body.state-general-election span.democrat.no-party,
body.state-general-election span.no-party.no-party,
body.state-general-election span.open.no-party,
body.state-general-election span.republican.no-party {
  color: #000000;
}
body.state-primary-election .topper,
body.state-general-election .topper {
  padding-top: 20px;
}
body.state-primary-election .topper .deck,
body.state-general-election .topper .deck {
  font-size: 1.3em;
  pointer-events: none;
  padding-top: 10px !important;
}
body.state-primary-election .wpe-map_view_single-state .hsb-wrapper,
body.state-general-election .wpe-map_view_single-state .hsb-wrapper {
  margin-left: auto;
  margin-right: auto;
}
body.state-primary-election .other-results,
body.state-general-election .other-results {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
body.state-primary-election .other-results .wpe-ir,
body.state-general-election .other-results .wpe-ir {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
body.state-primary-election .other-results .wpe-ir a,
body.state-general-election .other-results .wpe-ir a {
  text-decoration: underline;
}
body.state-primary-election .other-results .wpe-ir .wpe-ir_sentence,
body.state-general-election .other-results .wpe-ir .wpe-ir_sentence {
  text-align: center !important;
}
body.state-primary-election .other-results .timestamp.static,
body.state-general-election .other-results .timestamp.static {
  font-size: 14px;
  color: #a2a3a5 !important;
}
body.state-primary-election .other-results .blurb,
body.state-general-election .other-results .blurb {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}
body.state-primary-election .other-results .wpe-map_view_compressed .wpe-map_row,
body.state-general-election .other-results .wpe-map_view_compressed .wpe-map_row {
  min-height: 450px;
}
body.state-primary-election .other-results .wpe-hsb_instructions,
body.state-general-election .other-results .wpe-hsb_instructions {
  font-size: 14px;
  color: #969696;
}
body.state-primary-election .other-results .pb-f-elections-2018-composite-map .wpe-result_title,
body.state-general-election .other-results .pb-f-elections-2018-composite-map .wpe-result_title {
  margin-bottom: 10px;
}
body.state-primary-election .other-results .pb-f-elections-2018-composite-map .wpe-result_table_live,
body.state-general-election .other-results .pb-f-elections-2018-composite-map .wpe-result_table_live {
  padding: 0 0 30px;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}
body.state-primary-election .house-results,
body.state-general-election .house-results {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
body.state-primary-election .house-results .label-huge,
body.state-general-election .house-results .label-huge {
  padding-top: 10px;
  padding-bottom: 10px;
}
body.state-primary-election .house-results .ai2html .g-capital,
body.state-primary-election .house-results .ai2html .g-cities,
body.state-general-election .house-results .ai2html .g-capital,
body.state-general-election .house-results .ai2html .g-cities {
  text-shadow: 2px 2px 1px #FFF, -2px -2px 1px #fff, 1px 1px #fff, -1px -1px #fff;
}
body.state-primary-election .house-results .pb-f-elections-2018-races-to-watch .blurb span,
body.state-general-election .house-results .pb-f-elections-2018-races-to-watch .blurb span {
  text-transform: uppercase;
}
body.state-primary-election .house-results .pb-f-elections-2018-races-to-watch .wpe-result_title,
body.state-general-election .house-results .pb-f-elections-2018-races-to-watch .wpe-result_title {
  display: none;
}
body.state-primary-election .house-results .pb-f-elections-2018-races-to-watch .wpe-result_table_live,
body.state-general-election .house-results .pb-f-elections-2018-races-to-watch .wpe-result_table_live {
  padding: 25px 0 15px;
}
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .label-primary,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .label-primary {
  margin-bottom: 20px;
  margin-left: 5px;
}
@media (max-width: 359px) {
  body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .label-primary,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .label-primary {
    margin-left: 0px;
  }
}
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .tiling-result .label-wrapper,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .tiling-result .label-wrapper {
  padding-bottom: 0;
  margin-bottom: -0.2rem;
}
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .label-incumbent .democrat,
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .label-incumbent .open,
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .label-incumbent .republican,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .label-incumbent .democrat,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .label-incumbent .open,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .label-incumbent .republican {
  font-size: 15px;
  margin-left: 20px;
}
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .label-district,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .label-district {
  font-size: 1.25rem;
  margin-right: 0;
}
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .district-topper,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .district-topper {
  padding-bottom: 6px;
  padding-top: 50px;
}
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .border-bottom-airy:nth-child(2) .district-topper,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .border-bottom-airy:nth-child(2) .district-topper {
  padding-top: 20px;
}
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .previous-election-chatter,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .previous-election-chatter {
  padding-bottom: 20px;
  font-size: 15px;
}
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .previous-election-chatter span,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .previous-election-chatter span {
  font-family: "FranklinITCProLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 767px) {
  body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .previous-election-chatter,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .previous-election-chatter {
    padding-bottom: 10px;
  }
}
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .wpe-result_table_live,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .wpe-result_table_live {
  padding: 5px 0 0;
}
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .wpe-result_table_live table,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .wpe-result_table_live table {
  margin-top: 0;
}
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .is-key-race,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .is-key-race {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 20px;
}
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .is-key-race,
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .is-not-key-race,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .is-key-race,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .is-not-key-race {
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 359px) {
  body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .is-key-race,
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .is-not-key-race,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .is-key-race,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .is-not-key-race {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body.state-primary-election .bottom-elements,
body.state-general-election .bottom-elements {
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
body.state-primary-election .mapboxgl-popup-content .wpe-tip_annotation,
body.state-general-election .mapboxgl-popup-content .wpe-tip_annotation {
  display: none;
}
body.state-primary-election .pb-f-elections-2018-smart-office-topper ul.smart-office-topper li:not(.active-office):after,
body.state-general-election .pb-f-elections-2018-smart-office-topper ul.smart-office-topper li:not(.active-office):after {
  top: 2px;
}
body.state-primary-election .pb-f-elections-2018-shift-summary .border-bottom-airy,
body.state-general-election .pb-f-elections-2018-shift-summary .border-bottom-airy {
  max-width: 600px;
  margin: 0 auto;
}
body.state-primary-election .pb-f-elections-2018-shift-summary .label-wrapper,
body.state-general-election .pb-f-elections-2018-shift-summary .label-wrapper {
  max-width: 580px;
  padding: 10px 0 !important;
  margin: 0 auto;
}
body.state-primary-election .wpe-bat,
body.state-general-election .wpe-bat {
  margin: 0 auto;
}
@media (max-width: 359px) {
  body.state-primary-election .wpe-party-abbrev,
body.state-general-election .wpe-party-abbrev {
    display: none;
  }
}
@media (max-width: 767px) {
  body.state-primary-election .label.label-normal.label-gargantuan,
body.state-general-election .label.label-normal.label-gargantuan {
    font-size: 1.5rem !important;
    padding-top: 15px !important;
  }
  body.state-primary-election .label.label-normal.label-huge,
body.state-general-election .label.label-normal.label-huge {
    font-size: 1.25rem !important;
  }
  body.state-primary-election .deck,
body.state-general-election .deck {
    font-size: 1.2rem !important;
  }
  body.state-primary-election .blurb.like-article-body,
body.state-general-election .blurb.like-article-body {
    font-size: 1rem !important;
    line-height: 1.8 !important;
  }
  body.state-primary-election .border-bottom-xx-gaseous .label-wrapper,
body.state-general-election .border-bottom-xx-gaseous .label-wrapper {
    padding-bottom: 0 !important;
  }
  body.state-primary-election .border-bottom-xx-gaseous::after,
body.state-general-election .border-bottom-xx-gaseous::after {
    margin-bottom: 1.875rem !important;
  }
  body.state-primary-election .border-bottom-none::after,
body.state-general-election .border-bottom-none::after {
    margin-bottom: 0.525rem !important;
  }
  body.state-primary-election .pb-f-elections-2018-tiling-results .label-district,
body.state-general-election .pb-f-elections-2018-tiling-results .label-district {
    font-size: 1.1rem !important;
  }
  body.state-primary-election .pb-f-elections-2018-smart-office-topper ul.smart-office-topper li:not(.active-office),
body.state-general-election .pb-f-elections-2018-smart-office-topper ul.smart-office-topper li:not(.active-office) {
    font-size: 1.6rem;
  }
  body.state-primary-election .pb-f-elections-2018-smart-office-topper ul.smart-office-topper li.active-office,
body.state-general-election .pb-f-elections-2018-smart-office-topper ul.smart-office-topper li.active-office {
    font-size: 1.7rem;
  }
  body.state-primary-election .pb-f-elections-2018-smart-office-topper ul.smart-office-topper li:not(.active-office):after,
body.state-general-election .pb-f-elections-2018-smart-office-topper ul.smart-office-topper li:not(.active-office):after {
    top: 0px;
  }
  body.state-primary-election td.wpe-result_cell,
body.state-general-election td.wpe-result_cell {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    font-size: 15px !important;
  }
  body.state-primary-election td.wpe-result_cell .wpe-table_candidate,
body.state-general-election td.wpe-result_cell .wpe-table_candidate {
    margin-left: 16px !important;
  }
  body.state-primary-election td.wpe-result_cell .key-square,
body.state-general-election td.wpe-result_cell .key-square {
    width: 14px !important;
    height: 14px !important;
    left: -15px !important;
    bottom: 4px !important;
  }
  body.state-primary-election .wpe-table_winner .fa,
body.state-general-election .wpe-table_winner .fa {
    left: -14px !important;
  }
  body.state-primary-election .wpe-sidebar_window,
body.state-general-election .wpe-sidebar_window {
    padding-bottom: 0px !important;
  }
  body.state-primary-election .wpe-sidebar td,
body.state-general-election .wpe-sidebar td {
    padding: 9px 4px !important;
  }
}
@media (max-width: 359px) {
  body.state-primary-election .pb-f-elections-2018-smart-office-topper ul.smart-office-topper li:last-child::before,
body.state-general-election .pb-f-elections-2018-smart-office-topper ul.smart-office-topper li:last-child::before {
    content: "";
  }
  body.state-primary-election .pb-f-elections-2018-smart-office-topper ul.smart-office-topper li:last-child,
body.state-general-election .pb-f-elections-2018-smart-office-topper ul.smart-office-topper li:last-child {
    padding-top: 8px;
  }
}
body.state-primary-election.district-of-columbia [data-chain-name=other-results-chain],
body.state-general-election.district-of-columbia [data-chain-name=other-results-chain] {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
body.state-primary-election.district-of-columbia [data-chain-name=other-results-chain] .wpe-result_table_live,
body.state-general-election.district-of-columbia [data-chain-name=other-results-chain] .wpe-result_table_live {
  padding-left: 0px;
  padding-right: 0px;
}
body.state-primary-election.district-of-columbia [data-chain-name=other-results-chain] .wpe-result_title,
body.state-general-election.district-of-columbia [data-chain-name=other-results-chain] .wpe-result_title {
  border-bottom: none;
  height: auto;
  padding-top: 10px;
}
body.state-primary-election.district-of-columbia .house-results,
body.state-general-election.district-of-columbia .house-results {
  display: none;
}
body.state-primary-election.california .party-topper,
body.state-general-election.california .party-topper {
  display: none;
}
@media screen and (max-width: 359px) {
  body.state-primary-election.california .wpe-pl_district text,
body.state-general-election.california .wpe-pl_district text {
    font-size: 10px !important;
  }
}
body.state-primary-election.pennsylvania .pb-f-elections-2018-political-lean,
body.state-general-election.pennsylvania .pb-f-elections-2018-political-lean {
  display: none;
}
body.state-primary-election.pennsylvania .pb-f-elections-2018-tiling-results .district-topper,
body.state-primary-election.pennsylvania .pb-f-elections-2018-races-to-watch .district-topper,
body.state-general-election.pennsylvania .pb-f-elections-2018-tiling-results .district-topper,
body.state-general-election.pennsylvania .pb-f-elections-2018-races-to-watch .district-topper {
  padding-bottom: 25px !important;
}
body.state-primary-election.pennsylvania .pb-f-elections-2018-tiling-results .district-topper span,
body.state-primary-election.pennsylvania .pb-f-elections-2018-races-to-watch .district-topper span,
body.state-general-election.pennsylvania .pb-f-elections-2018-tiling-results .district-topper span,
body.state-general-election.pennsylvania .pb-f-elections-2018-races-to-watch .district-topper span {
  display: none;
}
body.state-primary-election.pennsylvania .pb-f-elections-2018-tiling-results .previous-election-chatter,
body.state-primary-election.pennsylvania .pb-f-elections-2018-races-to-watch .previous-election-chatter,
body.state-general-election.pennsylvania .pb-f-elections-2018-tiling-results .previous-election-chatter,
body.state-general-election.pennsylvania .pb-f-elections-2018-races-to-watch .previous-election-chatter {
  display: none;
}
body.state-primary-election.pennsylvania .pb-f-elections-2018-tiling-results .wpe-result_special-note,
body.state-primary-election.pennsylvania .pb-f-elections-2018-races-to-watch .wpe-result_special-note,
body.state-general-election.pennsylvania .pb-f-elections-2018-tiling-results .wpe-result_special-note,
body.state-general-election.pennsylvania .pb-f-elections-2018-races-to-watch .wpe-result_special-note {
  visibility: hidden;
}
body.state-primary-election.pennsylvania .pb-f-elections-2018-tiling-results .wpe-result_special-note:after,
body.state-primary-election.pennsylvania .pb-f-elections-2018-races-to-watch .wpe-result_special-note:after,
body.state-general-election.pennsylvania .pb-f-elections-2018-tiling-results .wpe-result_special-note:after,
body.state-general-election.pennsylvania .pb-f-elections-2018-races-to-watch .wpe-result_special-note:after {
  position: absolute;
  left: 0;
  width: 200px;
  visibility: visible;
  content: "*Currently in Congress";
}
body.state-primary-election #elex-label-wrapper,
body.state-general-election #elex-label-wrapper {
  padding-bottom: 2.2rem;
  text-align: center;
}
body.state-primary-election #elex-label-wrapper #state_dropdown_chosen,
body.state-general-election #elex-label-wrapper #state_dropdown_chosen {
  width: 150px !important;
}
body.state-primary-election .pb-f-elections-2018-topper .chosen-container-single .chosen-results li,
body.state-general-election .pb-f-elections-2018-topper .chosen-container-single .chosen-results li {
  padding: 10px 13px;
}
body.state-primary-election .pb-f-elections-2018-topper .chosen-container-single .chosen-single,
body.state-general-election .pb-f-elections-2018-topper .chosen-container-single .chosen-single {
  border: none;
}
body.state-primary-election .pb-f-elections-2018-topper span#autocomplete-activate,
body.state-general-election .pb-f-elections-2018-topper span#autocomplete-activate {
  position: relative;
  right: 0;
  pointer-events: none;
}
body.state-primary-election #elex-label-wrapper .chosen-container,
body.state-general-election #elex-label-wrapper .chosen-container {
  left: 14px;
}
body.state-primary-election #state_dropdown_chosen,
body.state-general-election #state_dropdown_chosen {
  text-align: center;
}
body.state-primary-election .chosen-container-single .chosen-single span,
body.state-general-election .chosen-container-single .chosen-single span {
  margin-right: 0;
  padding: 0;
  text-align: left;
}
.mobile body.state-primary-election #state-dropdown,
.mobile body.state-general-election #state-dropdown {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 0px;
  background: none;
  display: inline-block;
  width: auto;
  border-bottom: 3px solid #000;
  margin: 0px 5px;
  text-align: center;
  font-family: "FranklinITCProBold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
body.state-primary-election .house-results .pb-f-elections-2018-races-to-watch .blurb span,
body.state-general-election .house-results .pb-f-elections-2018-races-to-watch .blurb span {
  color: #2a2a2a;
}
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .district-topper,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .district-topper {
  margin-bottom: 3px;
}
body.state-primary-election .house-results .pb-f-elections-2018-tiling-results .border-bottom-airy:nth-child(2) .district-topper,
body.state-general-election .house-results .pb-f-elections-2018-tiling-results .border-bottom-airy:nth-child(2) .district-topper {
  padding-top: 0;
}
body.state-primary-election .house-results .pb-f-elections-2018-races-to-watch .border-bottom-off .blurb::before,
body.state-general-election .house-results .pb-f-elections-2018-races-to-watch .border-bottom-off .blurb::before {
  width: 100%;
  background-color: inherit;
  content: "";
  display: block;
  height: 0;
  margin-top: 0;
  margin-bottom: 1.125rem;
  clear: both;
}

body.state-general-election.state-primary-election .mapboxgl-popup-content .wpe-tip_annotation {
  display: block;
}
body.state-general-election.state-primary-election .pb-f-elections-2018-races-to-watch .blurb span {
  font-size: 1.25rem;
  margin-right: 0;
  font-family: "FranklinITCProBold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25rem;
  color: #2a2a2a;
  font-weight: normal;
  cursor: auto;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 1px;
  border-bottom: 2px solid black;
  text-transform: none;
}
body.state-general-election.state-primary-election .pb-f-elections-2018-tiling-results .district-topper {
  padding-top: 0px !important;
}
body.state-general-election.state-primary-election .pb-f-elections-2018-tiling-results .tiling-result {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  body.state-general-election.state-primary-election .pb-f-elections-2018-tiling-results .tiling-result {
    margin-bottom: 10px;
  }
}

.elections-magnet-bar .wpe-hh_legend {
  display: block !important;
}
.elections-magnet-bar .wpe-hh_legend-i {
  display: none !important;
}
.elections-magnet-bar .h2h-stack-row.house.row .wpe-hh_legend {
  display: none !important;
}
@media (max-width: 767px) {
  .elections-magnet-bar .h2h-stack-row.senate.row .wpe-hh_legend {
    display: none !important;
  }
}

.homepage .wpe-map_view_single-state .hsb-wrapper-left {
  order: 1 !important;
}
.homepage .wpe-map_view_single-state .wpe-map_container {
  padding-bottom: 0px !important;
}
.homepage .wpe-map_view_single-state .key-square-win {
  margin-left: 0px !important;
}
.homepage .wpe-map_view_single-state .wpe-sidebar_num {
  font-family: "FranklinITCProLight", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.homepage .wpe-map_view_single-state .wpe-map_legend,
.homepage .wpe-map_view_single-state .wpe-hsb_instructions,
.homepage .wpe-map_view_single-state td:nth-child(3),
.homepage .wpe-map_view_single-state th:nth-child(2),
.homepage .wpe-map_view_single-state .wpe-party-abbrev {
  display: none !important;
}
.homepage .wpe-map_view_single-state .wpe-sidebar table td.wpe-sidebar_name {
  padding-left: 3px !important;
}
.homepage div[data-election-component=map] .hsb-wrapper {
  max-width: none;
}
.homepage .wpe-map_container .wpe-map_legend .wpe-legend {
  text-align: center;
}
.homepage .wpe-result_table_live .wpe-result_special-note {
  float: none;
}
.homepage .wpe-result_table_live .wpe-party-abbrev {
  display: none;
}
.homepage body:not(.close-races) .wpe-result_table_live .wpe-result_row:not(:nth-of-type(1)):not(:nth-of-type(2)) {
  display: none;
}
.homepage .wpe-result_table_live .wpe-progress_number {
  float: none;
  text-align: left;
}
.homepage .wpe-result_table_live table.wpe-result > tbody {
  border-top: 1px solid #2a2a2a;
  -webkit-font-smoothing: auto;
}
.homepage .wpe-result_table_live .incumbent {
  display: none;
}
.homepage .wpe-vs_notes > p {
  text-align: center !important;
}

.pb-f-elections-2018-primary .wpe-bt-standalone {
  min-height: 295px;
}

.headline#local-results {
  pointer-events: none;
}

.pb-f-elections-unboxer-state {
  max-width: 600px;
  margin: 0 auto;
  padding: 0px 10px;
}

.pb-f-elections-unboxer-state p {
  display: none;
}

.pb-f-elections-unboxer-state h3.header {
  font-size: 22px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.pb-f-elections-unboxer-state h4.header {
  font-size: 18px;
  margin-bottom: 0px;
  font-family: "FranklinITCProLight", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", "Apple SD Gothic Neo", "Myriad Set Pro", "Helvetica Neue", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.pb-f-elections-unboxer-state .results {
  font-family: "FranklinITCProLight";
  font-size: 16px;
  margin-top: 5px !important;
  margin-bottom: 40px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

.pb-f-elections-unboxer-state table {
  border: none !important;
}

.pb-f-elections-unboxer-state .results th {
  text-transform: none !important;
  font-size: 13px !important;
  border-bottom: 1px solid #2a2a2a !important;
  color: #969696 !important;
  padding-bottom: 0.2em !important;
}
.pb-f-elections-unboxer-state .results th:nth-child(1) {
  opacity: 0;
}

.pb-f-elections-unboxer-state .results th:nth-child(1) {
  padding-left: 22px;
}

.pb-f-elections-unboxer-state .results td {
  vertical-align: middle !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.pb-f-elections-unboxer-state .results td.align-right {
  width: 18% !important;
}

.pb-f-elections-unboxer-state .results td:first-of-type {
  font-family: "FranklinITCProLight";
  padding-left: 22px;
  width: 60% !important;
  line-height: 1.15;
  padding-right: 0px !important;
  position: relative;
}

.pb-f-elections-unboxer-state .results .winner {
  font-family: "FranklinITCProLight";
  background-color: #ebebeb;
}

.pb-f-elections-unboxer-state .results .fa.fa-check-circle-o {
  display: none;
}

.pb-f-elections-unboxer-state .results tr.winner td:first-of-type:before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  position: absolute;
  left: 3px;
}
