body.governor-landing [data-feature-name=top-head-to-head] .wpe-hh,
body.house-landing [data-feature-name=top-head-to-head] .wpe-hh,
body.senate-landing [data-feature-name=top-head-to-head] .wpe-hh {
  padding-left: 10px;
  padding-right: 10px;
}
body.governor-landing [data-feature-name=topper] .deck,
body.house-landing [data-feature-name=topper] .deck,
body.senate-landing [data-feature-name=topper] .deck {
  padding-top: 10px;
}
body.governor-landing [data-feature-name=interesting-races],
body.house-landing [data-feature-name=interesting-races],
body.senate-landing [data-feature-name=interesting-races] {
  max-width: 600px;
  float: none !important;
  margin: 0 auto;
}
body.governor-landing .chain-other-races,
body.house-landing .chain-other-races,
body.senate-landing .chain-other-races {
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
body.governor-landing .chain-other-races .label-kicker:before,
body.house-landing .chain-other-races .label-kicker:before,
body.senate-landing .chain-other-races .label-kicker:before {
  width: 100%;
}
body.governor-landing .label-secondary,
body.house-landing .label-secondary,
body.senate-landing .label-secondary {
  display: block;
  padding-top: 8px;
  margin-bottom: -10px;
}
body.governor-landing .blurb.like-article-body,
body.house-landing .blurb.like-article-body,
body.senate-landing .blurb.like-article-body {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
body.governor-landing .blurb.like-article-body .pg-linkdump-label,
body.house-landing .blurb.like-article-body .pg-linkdump-label,
body.senate-landing .blurb.like-article-body .pg-linkdump-label {
  font-family: "FranklinITCProBold", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", "Apple SD Gothic Neo", "Myriad Set Pro", "Helvetica Neue", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-bottom: 20px;
  display: block;
  font-size: 20px;
}
body.governor-landing .blurb.like-article-body .pg-linkdump-link,
body.house-landing .blurb.like-article-body .pg-linkdump-link,
body.senate-landing .blurb.like-article-body .pg-linkdump-link {
  display: block;
  margin-bottom: 12px;
}
body.governor-landing .blurb a,
body.governor-landing .label a,
body.house-landing .blurb a,
body.house-landing .label a,
body.senate-landing .blurb a,
body.senate-landing .label a {
  color: #1955a5;
  border-bottom: 1px solid #d5d5d5;
}
body.governor-landing .wpe-sidebar table td:nth-child(3),
body.governor-landing .wpe-sidebar table th:nth-child(2),
body.governor-landing .wpe-sidebar table .wpe-sidebar_vote-total-row,
body.governor-landing .wpe-sidebar table span.first,
body.house-landing .wpe-sidebar table td:nth-child(3),
body.house-landing .wpe-sidebar table th:nth-child(2),
body.house-landing .wpe-sidebar table .wpe-sidebar_vote-total-row,
body.house-landing .wpe-sidebar table span.first,
body.senate-landing .wpe-sidebar table td:nth-child(3),
body.senate-landing .wpe-sidebar table th:nth-child(2),
body.senate-landing .wpe-sidebar table .wpe-sidebar_vote-total-row,
body.senate-landing .wpe-sidebar table span.first {
  display: none;
}
body.governor-landing .wpe-sidebar table td,
body.house-landing .wpe-sidebar table td,
body.senate-landing .wpe-sidebar table td {
  padding: 10px 4px !important;
  font-size: 15px !important;
}
body.governor-landing .wpe-sidebar table .wpe-sidebar_squares,
body.house-landing .wpe-sidebar table .wpe-sidebar_squares,
body.senate-landing .wpe-sidebar table .wpe-sidebar_squares {
  width: 45px !important;
}
body.governor-landing .wpe-sidebar table .wpe-sidebar_squares .key-square,
body.house-landing .wpe-sidebar table .wpe-sidebar_squares .key-square,
body.senate-landing .wpe-sidebar table .wpe-sidebar_squares .key-square {
  width: 14px !important;
  height: 14px !important;
}
body.governor-landing .pb-f-elections-2018-races-to-watch .blurb span,
body.house-landing .pb-f-elections-2018-races-to-watch .blurb span,
body.senate-landing .pb-f-elections-2018-races-to-watch .blurb span {
  text-transform: none;
  font-size: 1.25rem;
  text-decoration: none;
  border-bottom: 2px solid black;
  font-family: "FranklinITCProBold", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", "Apple SD Gothic Neo", "Myriad Set Pro", "Helvetica Neue", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.25rem;
  color: #2a2a2a;
  font-weight: normal;
  cursor: auto;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 1px;
}
@media (max-width: 980px) {
  body.governor-landing .wpe-map_legend,
body.house-landing .wpe-map_legend,
body.senate-landing .wpe-map_legend {
    padding-top: 10px;
  }
  body.governor-landing .wpe-map_legend .wpe-legend,
body.house-landing .wpe-map_legend .wpe-legend,
body.senate-landing .wpe-map_legend .wpe-legend {
    text-align: center !important;
  }
  body.governor-landing .wpe-hsb_instructions,
body.house-landing .wpe-hsb_instructions,
body.senate-landing .wpe-hsb_instructions {
    display: none;
  }
  body.governor-landing .wpe-bt_segment,
body.house-landing .wpe-bt_segment,
body.senate-landing .wpe-bt_segment {
    padding-top: 10px;
  }
  body.governor-landing .wpe-bt_segment .wpe-bt_title,
body.house-landing .wpe-bt_segment .wpe-bt_title,
body.senate-landing .wpe-bt_segment .wpe-bt_title {
    text-align: center;
  }
}
@media (max-width: 767px) {
  body.governor-landing .label.label-normal.label-gargantuan,
body.house-landing .label.label-normal.label-gargantuan,
body.senate-landing .label.label-normal.label-gargantuan {
    font-size: 1.5rem !important;
    padding-top: 15px !important;
  }
  body.governor-landing .label.label-normal.label-huge,
body.house-landing .label.label-normal.label-huge,
body.senate-landing .label.label-normal.label-huge {
    font-size: 1.5rem !important;
  }
  body.governor-landing .blurb.like-article-body,
body.house-landing .blurb.like-article-body,
body.senate-landing .blurb.like-article-body {
    font-size: 1rem !important;
    line-height: 1.8 !important;
  }
  body.governor-landing.house-landing .h2h-stack-row.house.row,
body.house-landing.house-landing .h2h-stack-row.house.row,
body.senate-landing.house-landing .h2h-stack-row.house.row {
    display: none;
  }
  body.governor-landing.house-landing .h2h-stack-row.governor.row,
body.house-landing.house-landing .h2h-stack-row.governor.row,
body.senate-landing.house-landing .h2h-stack-row.governor.row {
    display: block;
  }
  body.governor-landing.house-landing .elections-magnet-bar .head-to-head-stack,
body.house-landing.house-landing .elections-magnet-bar .head-to-head-stack,
body.senate-landing.house-landing .elections-magnet-bar .head-to-head-stack {
    top: 10px;
  }
  body.governor-landing.senate-landing .h2h-stack-row.senate.row,
body.house-landing.senate-landing .h2h-stack-row.senate.row,
body.senate-landing.senate-landing .h2h-stack-row.senate.row {
    display: none;
  }
  body.governor-landing.senate-landing .h2h-stack-row.governor.row,
body.house-landing.senate-landing .h2h-stack-row.governor.row,
body.senate-landing.senate-landing .h2h-stack-row.governor.row {
    display: block;
  }
  body.governor-landing.senate-landing .elections-magnet-bar .head-to-head-stack,
body.house-landing.senate-landing .elections-magnet-bar .head-to-head-stack,
body.senate-landing.senate-landing .elections-magnet-bar .head-to-head-stack {
    top: 10px;
  }
  body.governor-landing.governor-landing .h2h-stack-row.governor.row,
body.house-landing.governor-landing .h2h-stack-row.governor.row,
body.senate-landing.governor-landing .h2h-stack-row.governor.row {
    display: none;
  }
  body.governor-landing.governor-landing .elections-magnet-bar .head-to-head-stack,
body.house-landing.governor-landing .elections-magnet-bar .head-to-head-stack,
body.senate-landing.governor-landing .elections-magnet-bar .head-to-head-stack {
    top: 10px;
  }
  body.governor-landing.governor-landing .elections-magnet-bar .h2h-stack-row.house.row .wpe-hh_legend,
body.house-landing.governor-landing .elections-magnet-bar .h2h-stack-row.house.row .wpe-hh_legend,
body.senate-landing.governor-landing .elections-magnet-bar .h2h-stack-row.house.row .wpe-hh_legend {
    display: block !important;
  }
}
body.governor-landing .wpe-sidebar_window, body.governor-landing .wpe-hsb,
body.house-landing .wpe-sidebar_window,
body.house-landing .wpe-hsb,
body.senate-landing .wpe-sidebar_window,
body.senate-landing .wpe-hsb {
  overflow: visible;
}
